/* Class define */
.text-white {
    color: white;
}

.text-orange {
    color: var(--orange-color);
}

.kablammo-font {
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "MORF" 0;
}

.oi-regular {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 600;
  font-style: normal;
}
/* Class define end */

