:root {
    --header-color: rgb(51, 161, 224);
    --main-color: rgb(255, 249, 175);
    --deep-color: rgb(28, 110, 164);
    --orange-color: rgb(255, 225, 0);
    --deep-orange-color: rgb(255, 155, 0);

    --header-height: 10vh; 
}

body {
    margin: 0;
    padding: 0;
    font-family: "Delius", cursive;
    font-weight: 600;
    font-style: normal;
}

/* Class define */
.text-white {
    color: white;
}

.text-orange {
    color: var(--orange-color);
}

.kablammo-font {
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "MORF" 0;
}

.oi-regular {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 600;
  font-style: normal;
}
/* Class define end */


/* Header Start */
header {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    background-color: var(--header-color);

    width: 94vw;
    padding: 0vh 3vw;
    height: var(--header-height);

    overflow-y: visible;
}

#header-title h1 {
    font-size: 40px;
    margin: 0;
}

#name-input p {
    margin: 0;
}
#name-input input {
    height: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

/* Header End */


/* Main Start */
main {
    background-color: var(--main-color);
    height: 500vh;
    margin-top: var(--header-height);
}
/* Main End */

/* Footer Start */
/* Footer End*/
