:root {
    --header-color: rgb(51, 161, 224);
    --main-color: rgb(255, 249, 175);
    --deep-color: rgb(28, 110, 164);
    --orange-color: rgb(255, 225, 0);
    --deep-orange-color: rgb(255, 155, 0);

    --header-height: 10vh; 
}

